input {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
}

input:disabled {
    background-color: red;
    color: blue;
}

label {
    color: beige;
}

.inputButton {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: gray;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: rgb(255, 255, 255);
    margin: 0em;
    padding: 1px 2px;
    border-width: 1px;
    border-style: inset;
    border-color: rgb(118, 118, 118);
    border-radius: 2px;
    border-image: initial;
    margin-left: 8px;
    margin-right: 8px;
    width: 200px;
    height: 21px;
    background-color: white;
    margin-top: 8px;
}

.inputButton:disabled {
    background-color: red;
    color: blue;
}

.clearButton{
    width: 50px;
    height: 21px;
    background-color: green;
}
.submitButton {
    width: 60px;
    height: 21px;
    padding-bottom: 20px;
    background-color: white;
    border:none;
    color: beige;
}

.error {
    background-color: green;
    color: red;
}

.streetAddress {
    color: white;
}