body 
{
    color: black;
}

#resume-box
{
    font-family:Consolas;
    border:double;
    border-radius:10px;
    margin:50px;
    padding: 20px;
    max-width: 500px;
}

#resume-inputs
{
    border-top:dashed;
    border-color:gray;
}

#submit
{
    font-size: 2em;
    min-height:50px;
    min-width:50px;
    font-family:Consolas;
}
